@tailwind base;
@tailwind components;
@tailwind utilities;

.platformData {
  background: rgba(247, 242, 242, 0.15);
  box-shadow: 0 8px 32px 0 rgba(94, 94, 94, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
